{% extends "_base.html" %}

{% block js %}
<script>
function reset_password() {
    var password = prompt("Please enter a new password");
    if (password) {
        $.ajax({
            context: this,
            url: "/user/reset_password",
            type: "POST",
            data: { password : password },
            success: function(data) {
                if (data == "success") {
                    console.log("Password reset");
                    alert("Password has been reset");
                } else {
                    alert("Could not reset password!");
                }
            }
        });
    } else {
        console.log("No password");
    }
}

function disable_account() {
    if (confirm("Are you sure you want to disable your account")) {
        $.ajax({
            context: this,
            url: "/user/disable",
            type: "GET",
            success: function(data) {
                if (data == "success") {
                    console.log("Account Disabled");
                    window.location = "/user/logout";
                } else {
                    alert("Could not create new account!");
                }
            }
        });
    } else {
        console.log("Not disabled");
    }
}

</script>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">
        <h1>Modify Account</h1>
        <button class="btn btn-lg btn-primary btn-block" style="margin-top:40px" onclick="reset_password()">Reset password</button>
        <button class="btn btn-lg btn-primary btn-block" style="margin-top:20px" onclick="disable_account()">Disable account</button>
    </div>
    <div class="col-xs-6 col-md-4"></div>
</div>

{% endblock %}
