server {
    client_body_in_file_only clean;
    client_body_buffer_size 32K;
    client_max_body_size 10000M;
    sendfile on;
    send_timeout 300s;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location /static {
        alias  /var/www/vividflow/static;
    }
}
